{% extends 'upload/base.html' %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <div align="center" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 46px">
        SolutionsDepot
    </div>
    <div align="center" style="font-family: 'Open Sans', sans-serif; font-size: 16px">
        <p> SolutionsDepot is digital warehouse of Solutions.</p>
        <p>You can upload and search for certified solutions in SolutionsDepot.</p>
    </div>

    <div style="width: 550px; height: 250px; float:left; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-left: 50px; padding-top: 30px;">
        <p>SolutionsDepot only excepts solutions in JSON format.</p>
        <p>Please follow these steps for submitting a solution.</p>
        <p> 1) Size VxRail Solution using one of these tools:<p>   * 14G <a href="http://www.emc.com/auth/rcoll/tool/vxrail-4.5-advanced-sizing-tool-for-14g.xlsm" target="_blank">http://www.emc.com/auth/rcoll/tool/vxrail-4.5-advanced-sizing-tool-for-14g.xlsm</a>.</p>
        <p>   * 13G <a href="https://www.emc.com/auth/rcoll/tool/vxrail-4-5-advanced-sizing-tool-for-13g.xlsm" target="_blank">https://www.emc.com/auth/rcoll/tool/vxrail-4-5-advanced-sizing-tool-for-13g.xlsm</a>.</p>
        <p>* Xpress <a href="https://mainstayadvisor.com/go/emc/vxrail/" target="_blank">https://mainstayadvisor.com/go/emc/vxrail/</a>.</p>
        <p>2) Design & Export using Fabric Design Center: <a href="https://fdc.emc.com" target="_blank">https://fdc.emc.com</a>.</p>
	<p>3) Test & Certify solution.</p>
        <p>4) Publish solution via upload.</p>
        <p>or simply find & use previously tested solution using search.</p>
        <p>REFERENCE VxRail Enablement Center:</p>
        <p><a href="https://www.emc.com/auth/rpage/ec-for-vce-vxrail.htm" target="_blank">https://www.emc.com/auth/rpage/ec-for-vce-vxrail.htm</a>.</p>
        <p> </p>
        <p>The box on right provides schema of a solution in JSON.</p>
        </div>
    <div style="width: 450px; height: 250px; float:right; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-right: 50px; padding-top: 30px;">
        <p>Solution Schema:</p>
        <div id="" style="overflow-y: scroll;  height: 300px;">
<pre>
{
  "type": "object",
  "required": [],
  "properties": {
    "id": {
      "type": "number"
    },
    "name": {
      "type": "string"
    },
    "description": {
      "type": "string"
    },
    "version": {
      "type": "string"
    },
    "fabric_type": {
      "type": "string"
    },
    "inventory": {
      "type": "object",
      "required": [],
      "properties": {
        "id": {
          "type": "number"
        },
        "switches": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "ipAddress": {
                "type": "string"
              },
              "mac": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "ports": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [],
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "portSpeed": {
                      "type": "string"
                    },
                    "physicalType": {
                      "type": "string"
                    },
                   "status": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "parent": {
                      "type": "number"
                    },
                    "portType": {
                      "type": "string"
                    },
                    "isSplited": {
                      "type": "string"
                    },
                    "linkType": {
                      "type": "string"
                    },
                    "autoNegotiate": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "pcNum": {
                      "type": "number"
                    },
                    "portchannelProtocolMode": {
                      "type": "string"
                    },
                    "shutdown": {
                      "type": "string"
                    },
                    "assigned": {
                      "type": "boolean"
                    },
                    "memberState": {
                     "type": "string"
                    }
                  }
                }
              },
              "vLans": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [],
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "vlanId": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "ipv4": {
                      "type": "string"
                    },
                    "ipv4_mask": {
                      "type": "string"
                    },
                    "bond": {
                      "type": "string"
                    }
                  }
                }
              },
              "portChannels": {
                "type": "string"
              },
              "level": {
                "type": "number"
             },
              "position": {
                "type": "number"
              },
              "ospf": {
                "type": "string"
              },
              "bgp": {
                "type": "string"
              }
            }
          }
        },
        "links": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "linkType": {
                "type": "string"
              },
              "srcSwitch": {
                "type": "number"
              },
              "dstSwitch": {
                "type": "number"
              },
              "srcPort": {
                "type": "number"
              },
              "dstPort": {
                "type": "number"
              },
             "portSpeed": {
                "type": "string"
              },
              "dstNode": {
                "type": "number"
              },
              "dstNodePort": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "rack_topology": {
      "type": "object",
      "required": [],
      "properties": {
        "id": {
          "type": "number"
        },
        "nodeRacks": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "mgmtSwitch": {
                "type": "number"
              },
              "switches": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "clusters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [],
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "cluster_input_id": {
                      "type": "number"
                    },
                    "nodes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "ports": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [],
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "portSpeed": {
                                  "type": "string"
                                },
                                "physicalType": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "assigned": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "bonds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [],
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "bondNum": {
                                  "type": "number"
                                },
                                "lagMode": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "vlans": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "downLinks": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          }
        },
        "racks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "topology": {
      "type": "object",
      "required": [],
      "properties": {
        "id": {
          "type": "number"
        },
        "tier": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "tierType": {
                "type": "string"
              },
              "level": {
                "type": "number"
              },
              "deviceGroups": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          }
        },
        "listOfDeviceGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "devices": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "type": {
                "type": "string"
              },
              "linkGroups": {
                "type": "number"
              },
              "peerDeviceGroups": {
                "type": "string"
              },
              "peerLinkGroups": {
                "type": "string"
              },
              "externalUplinkGroups": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "nodeDownlinkGroup": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          }
        },
        "listOfLinkGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "fabric_settings": {
      "type": "object",
      "required": [],
      "properties": {
        "id": {
          "type": "number"
        },
        "mgmt_route_ip": {
          "type": "string"
        },
        "mgmt_route_mask": {
          "type": "string"
        },
        "default_gateway": {
          "type": "string"
        },
        "uplink_protocol_settings": {
          "type": "string"
        },
        "fabricLink_protocol_settings": {
          "type": "string"
        },
        "cli_credential": {
          "type": "object",
          "required": [],
          "properties": {
            "id": {
              "type": "number"
            },
            "protocol": {
              "type": "string"
            },
            "user": {
              "type": "string"
            },
            "password": {
              "type": "string"
            },
            "enablepassword": {
              "type": "string"
            }
          }
        },
        "bom_settings": {
          "type": "object",
          "required": [],
          "properties": {
            "id": {
              "type": "number"
            },
            "switch_air_flow": {
              "type": "string"
            },
            "power_supply": {
              "type": "string"
            },
            "redundant_power_supply_switches": {
              "type": "boolean"
            },
            "tor_placement": {
             "type": "string"
            },
            "cable_length_spine2tor": {
              "type": "string"
            },
            "use_DAC_where_possible": {
              "type": "boolean"
            },
            "use_out_of_band_mgmt": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "fabric_design_data": {
      "type": "object",
      "required": [],
      "properties": {
        "id": {
          "type": "number"
        },
        "uplink_protocol_info": {
          "type": "string"
        },
        "fabric_link_protocol_info": {
          "type": "string"
        },
        "fabric_input": {
          "type": "string"
        },
        "cluster_data": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [],
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "clusterType": {
                "type": "string"
              },
              "currentNodes": {
                "type": "number"
              },
              "futureNodes": {
                "type": "string"
              },
              "networkResiliency": {
                "type": "boolean"
              },
              "preconfigureFutureNodes": {
                "type": "boolean"
              },
              "outOfBand": {
                "type": "boolean"
              },
              "applianceInfo": {
                "type": "object",
                "required": [],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "ndcCard": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "requiredCount": {
                        "type": "number"
                      },
                      "max": {
                        "type": "number"
                      },
                      "ports": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "bandwidth": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            },
                            "physicalType": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "chassisType": {
                        "type": "string"
                      }
                    }
                  },
                  "optionalCard": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "requiredCount": {
                        "type": "string"
                      },
                      "max": {
                        "type": "number"
                      },
                      "ports": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "bandwidth": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string"
                            },
                            "physicalType": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "chassisType": {
                        "type": "string"
                      }
                    }
                  },
                  "ports": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "bandwidth": {
                          "type": "number"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "physicalType": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "bonds": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "ports": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [],
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "bandwidth": {
                                "type": "number"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "physicalType": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "lagMode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "clusterVlans": {
                "type": "object",
                "required": [],
                "properties": {
                  "mgmt": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "vlanId": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ipv4": {
                        "type": "string"
                      },
                      "ipv6": {
                        "type": "string"
                      },
                     "bond": {
                        "type": "string"
                      }
                    }
                  },
                  "vSan": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "vlanId": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ipv4": {
                        "type": "string"
                      },
                      "ipv6": {
                        "type": "string"
                      },
                      "bond": {
                        "type": "string"
                      }
                    }
                  },
                  "vMotion": {
                    "type": "object",
                    "required": [],
                    "properties": {
                      "vlanId": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                       "type": "string"
                      },
                      "ipv4": {
                        "type": "string"
                      },
                      "ipv6": {
                        "type": "string"
                      },
                      "bond": {
                        "type": "string"
                      }
                    }
                  },
                  "vmNetworks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "clusterSubType": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
</pre>
        </div>
    </div>


{% endblock %}
